

<div class="mt-1 p-1 rounded-top" style="background-color: #0B3C49;">
    <br style="background-color: #FFFDFD;">
    <div class="container">
        
        <div class="row">
          <div class="col">
            <h6 class = "text-start" style="color: #FFFDFD;">
             Email: celestialkaffe@gmail.com <br> Contato: (47)9921-9298 
            </h6>
          </div>
          <div class="col">

          </div>
          <div class="col text-end">
            <a href="{{url_for('SNPage')}}" class = "text-end" style="color: #FFFDFD;">
                Sobre nós
            </a>
          </div>
        </div>
        <hr style= "color: #FFFDFD;">

        <p style= "color: #FFFDFD; font-weight:lighter;"> @2024 Todos os direitos reservados para Café Celestia</p>
      </div>
</div>