
<!-- As a link -->
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid p-2"  style="background-color: #0B3C49;" >

      <div class="container text-center">

        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 justify-content-center">
          <div class="col mt-2 text-center">
            <li class="nav-item" style="background-color:#0B3C49;">
              <a class="badge text-light p-4 mt-4 text-wrap fs-4 nav-link active strong ">Seja Bem Vindo</a>

                
            </li>
          </div>
          
          <div class="col text-center">
            <li class="nav-item mt-4 ms-4 " style="background-color:#0B3C49;">

                <a class="navbar-brand" href="{{url_for('HomePage')}}">
                  <img class="rounded image" src="{{url_for('static',filename='img/CaffeLogo.jfif')}}" alt="logoLTDA" width="90" height="90" class="d-inline-block align-text-top" ></img>

              </li>
            </div>

            <div class="col text-center">
            <li class="nav-item ">
              <a class="badge p-4 mt-4 text-wrap fs-4 nav-link active strong " href="{{url_for('MenuPage')}}" style="width: 12rem;background-color: #DEBD90; color:#0B3C49;">Nossos Produtos</a>

            </li>
          </div>

        </ul>

        <br>
        
      </div>

      </div>
    
    
  </nav>
  
